<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="localUrl" value="test.html"/>
    <add key="localTitle" value="测试页面"/>
    <add key="icon" value="fav.ico"/>
    <add key="debug" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
