<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="localUrl" value="http://192.168.18.57:8100/chasEt/chasEt/chasQtdjController/aqjc"/>
    <add key="icon" value="fav.ico"/>
    <add key="use_cache" value="false"/>
    <add key="debug" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
